@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

* {
  font-size: 50px;
  background-color: #fefefe;
  font-family: 'Quattrocento Sans', sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
}

